// Color Palette: https://colorhunt.co/palette/130807

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();

/* ======== Colors ======== */
$seiri-charcoal: (
  Main: #393e46,
  Light: #636871,
  Dark: #13181f,
  contrast: (
    Main: #f7f7f7,
    Light: #f7f7f7,
    Dark: #f7f7f7,
  ),
);

$seiri-silver: (
  Main: #929aab,
  Light: #c3cbdd,
  Dark: #646c7c,
  contrast: (
    Main: #393e46,
    Light: #393e46,
    Dark: #f7f7f7,
  ),
);

$seiri-white: (
  Main: #f7f7f7,
  Light: #ffffff,
  Dark: #c4c4c4,
  contrast: (
    Main: #393e46,
    Light: #393e46,
    Dark: #393e46,
  ),
);

$seiri-offwhite: (
  Main: #eeeeee,
  Light: #ffffff,
  Dark: #bcbcbc,
  contrast: (
    Main: #393e46,
    Light: #393e46,
    Dark: #393e46,
  ),
);

/* ======== Typograhpy ======== */
$seiri-typography: mat-typography-config(
  $font-family: 'Cabin, sans-serif',
  $display-3: mat-typography-level(56px, 56px, 400, 'Abel, sans-serif'),
  $title: mat-typography-level(20px, 32px, 700),
  $subheading-2: mat-typography-level(18px, 20px, 400)
);

@include angular-material-typography($seiri-typography);

$seiri-app-primary: mat-palette($seiri-charcoal, Main, Light, Dark);
$seiri-app-accent: mat-palette($seiri-silver, Main, Light, Dark);

// The warn palette is optional (defaults to red).
$seiri-app-warn: mat-palette($mat-red);

$seiri-app-theme: mat-light-theme(
  (
    color: (
      primary: $seiri-app-primary,
      accent: $seiri-app-accent,
      warn: $seiri-app-warn,
    ),
  )
);

@include angular-material-theme($seiri-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: mat-color($seiri-offwhite, Main);
}

.mat-drawer-content {
  background-color: mat-color($seiri-offwhite, Main);
}


.page {
  position:absolute;
  height:100vh;
  bottom:0;
  top:0;
  left:0;
  right:0;
  background-color: mat-color($seiri-white, Main);
}

.mat-display-3 {
  color: mat-color($seiri-app-accent);
}

hr {
  border-style: solid;
}

.mat-card {
  border-radius: 8px !important;
}

a {
  text-decoration: none;
}