.header {
    padding: 1rem 0 0 1rem;
}

.day {
    margin: 0;
    text-transform: uppercase;
}

.subtitle {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.date {
    margin: 0;
}

.strike {
    flex: 1;
    align-self: center;
    margin-left: 1rem;
}

.content {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
}
