.page {
    display: flex;

}

.login-card {
    display: flex;
    flex-direction: row;
    margin: 5% 14%;
    flex: 1;
    background-color: f7f7f7;
    padding: 0;
}

.login-content {
    flex: 1 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.welcome-content {
    color: #f7f7f7;
    background-color: #393e46;
    flex: 1 0 35%;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}